.input--main-search-bar {
	padding: 15px 12px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin: auto;
	box-shadow: 0.5px 2.95px 2px 0.01px rgba(0, 0, 0, 0.15); 
	color: black;
	background-color: white;
	transition: box-shadow 0.15s;
	width: 100%;
}

.input--main-search-bar:focus {
	box-shadow: 1.0px 2.15px 4px 0.09px rgba(0, 0, 0, 0.05);
}

.input--main-search-bar:hover {
	box-shadow: 1.0px 2.95px 4px 0.12px rgba(0, 0, 0, 0.25);
}

.div--center-in-div {
	width: 50%;
	margin: 0 auto;
}

.div--margin-up-250 {
	margin-top: 145px;
}

.img--center-in-div {
	display: block;
	margin: 0 auto;
}

.button--google-style {
	color: #666666;
	padding: 12px 20px;
	border: 1px solid #fff;
	font-weight: 500;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 02px;
}

.div--center-the-buttons {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button--google-style:hover {
	border: 1px solid #cccccc;
	color: #404040;
	background-color: #f2f2f2;
}

.ul--make-it-navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.li-a--make-nav-button {
	display: block;
	padding: 12px;
	background-color: transparent;
}

.li--make-it-float-right {
	float: right;
}

.li--make-it-float-left {
	float: left;
}

.html--background-gray {
	background-color: #f2f2f2;
}

.ul--nav-to-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 4.5px;
}

a {
	text-decoration: none;
	color: #6E6E73;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

.html--padd-bottom {
	padding-bottom: 20px;
}
